body {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	font-size: 12px;
	font-family: "微软雅黑", "Microsoft YaHei";
	overflow-x: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 1000px;
}

div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
blockquote,
p {
	padding: 0;
	margin: 0;
}

table,
td,
tr,
th {
	font-size: 12px;
}

li {
	list-style: none;
	vertical-align: bottom;
}

img {
	Vertical-aliagn: top;
	border: 0;
}

ol,
ul {
	list-style: none;
}

li {
	vertical-align: bottom;
}

a {
	color: #838383;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

a:hover {
	color: #838383;
	text-decoration: none;
}

.lf {
	float: left;
}

.rt {
	float: right;
}

.cl {
	clear: both;
}

/* Hides from IE-mac \*/
*:first-child + html .clearfix {
	zoom: 1;
}

/* IE7 */
* html .clearfix {
	height: 1%;
	zoom: 1;
}

.clearfix {
	display: block;
}

@title-black: #121212;
@bg-gray: #eee;
@font-red: #C5152D;
@font-white: #fff;
@font-black: #000;
@font-xs: 12px;
@font-en: 14px;
@font-sm: 16px;
@font-md: 22px;
@font-lg: 28px;
@pad-12: 12px;
@w-100: 100%;

/******  首页右侧固定元素 ******/
.r_float {
	position: fixed;
	bottom: 50%;
	margin-bottom: -140px;
	right: 0;
	height: 280px;
	width: 80px;
	z-index: 1000;
	.right_fixed {
		position: absolute;
		right: -20px;
		width: 100px;
		padding-right: 20px;
		height: 60px;
		line-height: 12px;
		background: #c6162e;
		text-align: center;
		color: #fff;
		cursor: pointer;
		i {
			display: inline-block;
			width: 36px;

			height: 36px;
			background: url("../img/pingtu.png") no-repeat -260px 5px;
		}
		span {
			display: inline-block;;
			font-size: @font-xs;
		}
	}
	.litel {
		left: 0px;
		width: 295px;
		padding-right: 215px;
		.let_n {
			position: absolute;
			display: block;
			top: 0;
			left: 80px;
			width: 185px;
			height: 60px;
			line-height: 60px;
			font-size: 24px;
			b {
				border-right: 1px solid #CDCDCD;
			}
		}
	}
	.hover {
		overflow: hidden;
	}
	.yewu {
		top: 0px;
		i {
			background-position: -258px 5px;
		}
	}
	.shouhou {
		top: 61px;
		i {
			background-position: -292px 5px;
		}
	}
	.oldWeb {
		top: 122px;
		i {
			background-position: -328px 5px;
		}
	}
	.tel {
		top: 183px;
		i {
			background-position: -364px 5px;
		}
	}
}

@media (min-width: 749px) {
	.container {
		width: @w-100;
	}
}

/*****首页布局******/
#header, #footer {
	width: 100%;
	margin: 0;
	padding: 0;
}

#footer, #footer_02 {
	padding: 177px 160px;
}

@media (max-width: 1520px) {
	#footer, #footer_02 {
		padding: 50px 60px;
	}
}

@media (max-width: 748px) {
	#footer, #footer_02 {
		padding: 30px 20px;
	}
}

body {
	background: #fff;
}

#header {
	background-color: #fff;
	padding: 20px 140px 0px 160px;
	border: none;
	@media (max-width: 1420px) {
		padding: 20px 40px;
	}
	@media (max-width: 780px) {
		padding: 20px 20px;
	}
	> .container-fluid {
		width: 100%;
		padding: 0;
	}
	@media (max-width: 480px) {
		.logo img {
			height: 50px;
		}
	}
	ul {
		li {
			> a {
				background-color: #fff;
				padding: 10px 20px 45px;
			}
			.sub-nav {
				position: fixed;
				top: 100px;
				left: 0;
				width: 100%;
				background-color: #fff;
				height: 50px;
				z-index: 2;
				border-top: 1px solid #ddd;
				border-bottom: 1px solid #ddd;
				display: none;
				dl {
					float: right;
					width: 736px;
					margin-right: -50px;
				}
				dd {
					margin-right: 60px;
					font-size: 14px;
					line-height: 47px;
					padding-top: 4px;
					position: relative;
					float: left;
					a {
						display: inline-block;
						color: #777;
					}
					i {
						display: block;
						width: 0;
						position: absolute;
						left: 50%;
						bottom: 0;
						height: 3px;
						background-color: #333;
					}
				}
				dl.brand_menu dd {
					margin-right: 30px;
				}
				dd:hover a {
					color: #333;
				}
				dd:hover i {
					left: 0;
					width: 100%;
					transition: all 0.4s ease 0s;
				}
				dd.hover a {
					color: #333;
				}
				dd.hover i {
					left: 0;
					width: 100%;
				}
				li.cur a.tit-a {
					color: #888;
				}
			}
		}
		@media(min-width:1421px){
			li:nth-child(4) .sub-nav dl {margin-right: 200px;}
			li:nth-child(5) .sub-nav dl {margin-right: 6px;}
			li:nth-child(6) .sub-nav dl {margin-right: 20px;}
			li:nth-child(7) .sub-nav dl {margin-right: -70px;}
			li:nth-child(8) .sub-nav dl {margin-right: -200px;}
		}
		@media(max-width:1420px) and (min-width:992px) {
			li:nth-child(4) .sub-nav dl {margin-right: 100px;}
			li:nth-child(5) .sub-nav dl {margin-right: -94px;}
			li:nth-child(6) .sub-nav dl {margin-right: -80px;}
			li:nth-child(7) .sub-nav dl {margin-right: -170px;}
			li:nth-child(8) .sub-nav dl {margin-right: -300px;}
		}
		@media (max-width:991px){
			li:nth-child(4) .sub-nav dl {margin-right: -170px;}
			li:nth-child(5) .sub-nav dl {margin-right: -370px;}
			li:nth-child(6) .sub-nav dl {margin-right: -300px;}
			li:nth-child(7) .sub-nav dl {margin-right: -300px;}
			li:nth-child(8) .sub-nav dl {margin-right: -420px;}
		}
	}

}

#bs-navbar {
	color: #292929;
	font-size: 14px;
	font-weight: bold;
	margin-top: 12px;
	a {
		color: #292929;
	}
	p {
		height: 52px;
		margin-top: 3px;
		i {
			display: inline-block;
			width: 25px;
			height: 25px;
			vertical-align: middle;
			background: url("../img/pingtu.png") no-repeat -233px 0;
		}
		span {
			display: inline-block;
			vertical-align: middle;
			font-size: 24px;
			color: @font-red;
			font-weight: normal;
		}
	}

	ul {
		li:first-child {
			padding: 10px 19px;
		}
		li:nth-child(2) {
			padding: 10px 14px;
			color: #CDCDCD;
		}
		li:last-child {
			padding: 10px 30px 10px 15px;
			color: #aaa;
		}
		li.active a {
			color: @font-red;
		}
	}
}

/* 手机头部 */
.clear {
	clear: both;
}

.f-cb {
	zoom: 1;
}

.f-cb:after {
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
	content: ".";
}

.fl {
	float: left;
	display: inline;
}

.fr {
	float: right;
	display: inline;
}

.left {
	transform: translateX(-66%);
	transition: all 0.44s ease 0s;
}

.m-sub-menu.show {
	right: 0;
	transition: all 0.44s ease 0s;
}

.m-sub-menu {
	position: fixed;
	right: -100%;
	width: 66%;
	top: 0;
	z-index: 100;
	height: 100%;
	background-color: #fff;
	transition: all 0.64s ease 0s;
}

.m-sub-menu .top-box {
	line-height: 60px;
	background-color: #333;
}

.m-sub-menu .top-box .stt {
	display: inline-block;
	font-size: 16px;
	color: #acacac;
	margin-left: 8.2%;
	font-family: "Base-font";
}

.m-sub-menu .top-box .close {
	display: inline-block;
	width: 17px;
	height: 17px;
	background: url(../img/ico_37.png) no-repeat center;
	margin-right: 7.8%;
	margin-top: 22px;
	cursor: pointer;
}

.m-sub-menu .list-wrap ul {
	width: 100%;
}

.m-sub-menu .list-wrap li {
	line-height: 60px;
	width: 100%;
	border-bottom: 1px solid #f2f2f2;
}

.m-sub-menu .list-wrap li .col-box {
	display: block;
	width: 84%;
	padding: 0 7.8% 0 8.2%;
}

.m-sub-menu .list-wrap .tit {
	font-size: 16px;
	color: #666;
}

.m-sub-menu .list-wrap .point {
	display: inline-block;
	width: 8px;
	height: 12px;
	background: url(../img/ico_38.png) no-repeat center;
	margin-top: 26px;
}

.m-sub-menu .bot-link {
	width: 84%;
	padding: 0 7.8% 0 8.2%;
	margin-top: 30px;
}

.m-sub-menu .bot-link a {
	display: inline-block;
	width: 36px;
	height: 50px;
	margin-right: 20px;
	float: left;
}

.m-sub-menu .sec-sub-list {
	position: absolute;
	right: -100%;
	top: 60px;
	width: 100%;
}

.m-sub-menu .sec-sub-list .return-fir {
	display: block;
	width: 84%;
	padding: 0 7.8% 0 8.2%;
	line-height: 60px;
	background-color: #333;
}

.m-sub-menu .sec-sub-list .return-fir p {
	padding-left: 18px;
	color: #fff;
	font-size: 18px;
	background: url(../img/ico_42.png) no-repeat left center;
}

.m-sub-menu .sec-sub-list .boxs {
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	transition: all 0.4s ease 0s;
	background-color: #fff;
	li.lixi {
		display: inline-block;
		vertical-align: middle;
		padding-left: 20px;
		font-size: 24px;
		color: #C5152D;
		font-weight: normal;
		i {
			display: inline-block;
			width: 25px;
			height: 25px;
			margin-top: -6px;
			vertical-align: middle;
			background: url(../img/pingtu.png) no-repeat -233px 0;
		}
	}
}

.m-sub-menu .sec-sub-list .boxs.show {
	left: -100%;
}

.m-sub-menu .sec-sub-list ul, .m-sub-menu .sec-sub-list li {
	width: 100%;
}

.m-sub-menu .sec-sub-list li {
	line-height: 60px;
	border-bottom: 1px solid #f2f2f2;
}

.m-sub-menu .sec-sub-list li a {
	display: block;
	width: 84%;
	padding: 0 7.8% 0 8.2%;
	font-size: 16px;
	color: #666;
}

.m-sub-menu .sec-sub-list .bot-link {
	margin-top: 14px;
}

/* footer */
#footer {
	Padding-top: 45px;
	padding-bottom: 40px;
	font-size: 12px;
	background: #fafafa;
	.row {
		padding: 0 90px;
		> div {
			padding: 0 80px;
			margin-bottom: 20px;
		}
		.foot_list_tit {
			width: 100%;
			height: 44px;
			font-size: 14px;
			margin-bottom: 20px;
			line-height: 20px;
			border-bottom: 1px solid #D4D4D4;
			span {
				display: inline-block;
				float: left;
				i {
					display: inline-block;
					width: 27px;
					height: 21px;
					background: url("../img/pingtu.png") no-repeat -371px -78px;
				}
			}
			span.contact_more {
				float: right;
			}
		}
		.Wechat_m {
			display: inline-block;
			width: 90px;
			height: 90px;
			background: url("../img/pingtu.png") no-repeat -219px -70px;
		}
		.weibo, .mail {
			display: inline-block;
			margin-left: 10px;
			width: 36px;
			height: 36px;
			background: url("../img/pingtu.png") no-repeat -260px -34px;
		}
		.mail {
			background-position: -296px -34px;
		}
		button {
			width: 120px;
			height: 36px;
			border: 1px solid #E3E3E3;
			background: #fff;
			margin-bottom: 12px;
			i {
				display: inline-block;
				width: 20px;
				height: 20px;
				background: url("../img/pingtu.png") no-repeat -460px 4px;
			}
			i.shouhou_btn {
				background-position: -479px 4px;
			}
		}
	}
	@media (max-width: 1200px) {
		.row {
			padding: 0;
		}
	}
	@media (max-width: 765px) {
		.row {
			> div {
				padding: 0;
			}
		}
	}
}

/* footer_02 */
#footer_02 {
	padding: 85px 160px;
	@media (max-width: 1200px) {
		padding: 35px 60px 80px;
	}
	@media (max-width: 675px) {
		padding: 35px 5px 80px;
	}
	background: #111;
	color: #ffffff;
	.row {
		border-bottom: 1px solid #303030;
		padding-bottom: 50px;
	}
	ul {
		display: inline-block;
		li {
			height: 14px;
			margin-bottom: 20px;
			border-right: 1px solid #aaa;
			float: left;
			a {
				font-size: 14px;
				padding: 0 35px;
				line-height: 0;
			}
		}
		li:last-child, li:nth-child(5) {
			border: none;
			color: #838383;
		}
		li:nth-child(6) {
			padding-left: 40px;
		}
	}
	div.serch {
		input {
			display: block;
			float: left;
			height: 30px;
			background: #000;
			border: 1px solid #fff;
			padding: 0 5px;
		}
		button {
			display: block;
			float: left;
			width: 30px;
			height: 30px;
			border: none;
			background: url("../img/search_03.png") no-repeat;
		}
		span {
			padding-left: 15px;
			display: inline-block;
			width: 100px;
			margin-top: 15px;
		}
	}
	.foot2_con {
		margin-top: 40px;
		height: 20px;
		line-height: 20px;
		span {
			padding: 10px;
		}
		.logo_sm {
			display: inline-block;
			width: 110px;
			height: 20px;
			background: url("../img/logo_sm.png") no-repeat 0 7px;
		}
		.jing {
			display: inline-block;
			width: 20px;
			height: 20px;
			background: url("../img/pingtu.png") no-repeat -449px -31px;
		}
	}

}
